---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Clientes - KimYuna Store" currentPath="/clientes">
	<div class="bg-neutral-900 text-white min-h-screen">
		<div class="max-w-6xl mx-auto py-10 px-4">
			<div class="mb-8">
				<div class="text-center mb-8">
					<h1 class="text-5xl font-bold mb-4">Nuestros Clientes</h1>
					<p class="text-xl text-gray-400">
						En KimYuna valoramos a cada uno de nuestros clientes y nos
						esforzamos por brindar el mejor servicio y productos de
						calidad.
					</p>
				</div>
			</div>
			<div class="text-center">
				<img
					src="/community.webp"
					alt="community-image"
					class="mt-8 w-full h-auto"
				/>
			</div>
		</div>
	</div>
</Layout>
