---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Clientes - KimYuna Store" currentPath="/clientes">
	<div class="min-h-screen bg-neutral-900 text-white py-12">
		<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
			<div class="text-center">
				<h1 class="text-4xl font-bold text-white mb-6">Nuestros Clientes</h1>
				<p class="text-lg text-gray-400 max-w-2xl mx-auto">
					En KimYuna valoramos a cada uno de nuestros clientes y nos esforzamos por brindar 
					el mejor servicio y productos de calidad.
				</p>
				<img src="/community.webp" alt="community-image" class="mt-8 w-full h-auto" />
			</div>
		</div>
	</div>
</Layout>