---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inicio - KimYuna Store" currentPath="/">
	<div class="min-h-screen">
			<Welcome />
	</div>
</Layout>
