---
import '../styles/global.css';
---

<div class="bg-neutral-900 text-white">
	<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
		<div class="text-center mb-12">
			<h1 class="text-4xl font-bold mb-6">Bienvenido a KimYuna Store</h1>
			<p class="text-lg mb-8">
				 Descubre una experiencia de compra única con productos seleccionados especialmente para ti.
			</p>
		</div>
	</div>
</div>

